.step-tittle {
    font-size: 28px;
    font-weight: 700;
    font-family: 'Book Antiqua';
    color: #1B1B1B;
    margin-bottom: 10px;
    line-height: 1.3;
}
.step-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
    position: relative;
    transition: all 0.5s ease-in-out;
}
.step-row::after {
    content: '';
    position: absolute;
    height: calc(100% + 30px);
    width: 3px;
    background-color: #ECECF4;
    bottom: 0;
    top: 20px;
    left: 29px;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
}
.step-row:last-of-type::after {
    display: none;
}
.step-content {
    max-width: 860px;
}
.read-btn {
    font-size: 16px;
    font-family: 'Book Antiqua';
    color: #6283FF;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 10px;
    display: block;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.detail-text {
    transition: all 0.5s ease-in-out;
    margin-top: 10px;
}
.step-icon {
    position: relative;
    width: 60px;
    height: 60px;
    z-index: 3;
    background-color: #fff;
}
.detail-text {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out, opacity 0.6s ease-in-out;
    opacity: 0;
  }
  
  .detail-text.expanded {
    max-height: 100%; /* Adjust this value depending on the expected content length */
    opacity: 1;
  }
  
  .detail-text.collapsed {
    max-height: 0;
    opacity: 0;
  }

.step-title {
    font-size: 28px;
    color: #1B1B1B;
    font-weight: 700;
    font-family: 'Book Antiqua';
}
@media screen and (max-width:1200px) {
    .step-content {
        max-width: 88%;
    }
    .step-icon::after {
        height: 156px;
        bottom: -152px;
        z-index: -1;
    }
    .step-title {
        font-size: 24px;
    }
    
}
@media screen and (max-width:768px) {
    .step-row::after {
        display: none;
    }
    .step-row {
        flex-direction: column;
        gap: 20px;
    }
    .step-content {
        max-width: 100%;
    }
    
}